<?xml version="1.0"?>
<config>
  <modules>
    <Mec_Mergename>
      <version>0.2.1</version>
    </Mec_Mergename>
  </modules>
  <frontend>
    <routers>
      <mergename>
        <use>standard</use>
          <args>
            <module>Mec_Mergename</module>
            <frontName>mergename</frontName>
          </args>
      </mergename>
    </routers>
		<layout>
		  <updates>
			<mergename>
			  <file>mergename.xml</file>
			</mergename>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <mergename>
        <class>Mec_Mergename_Helper</class>
      </mergename>
    </helpers>
	<blocks>	
		<adminhtml>
			<rewrite>
				<customer_grid>Mec_Mergename_Block_Adminhtml_Customer_Grid</customer_grid>
			</rewrite>
		</adminhtml>
		<customer>
			<rewrite>
				<widget_name>Mec_Mergename_Block_Customer_Widget_Name</widget_name>
			</rewrite>
		</customer>
	  <mergename>
		<class>Mec_Mergename_Block</class>
	  </mergename>
	</blocks>
	<models>
		<customer>
			<rewrite>
				<customer>Mec_Mergename_Model_Customer_Customer</customer>
			</rewrite>
		</customer>
		<sales>
			<rewrite>
				<quote_address>Mec_Mergename_Model_Sales_Quote_Address</quote_address>
			</rewrite>
		</sales>
		<mergename>
			<class>Mec_Mergename_Model</class>
		</mergename>
	</models>
	<resources>
	  <mergename_setup>
		<setup>
		  <module>Mec_Mergename</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </mergename_setup>
	  <mergename_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </mergename_write>
	  <mergename_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </mergename_read>
	</resources>
  </global>
</config> 